version: "3.7"

x-toolbox-environment: &toolbox-environment
  - PROJECT=trot
  - APPLICATION=app
  - AWS_REGION
  - AWS_DEFAULT_REGION
  - AWS_ACCESS_KEY_ID
  - AWS_SECRET_ACCESS_KEY
  - AWS_SESSION_TOKEN
  - AWS_SECURITY_TOKEN
  - AWS_SESSION_EXPIRATION

services:
  toolbox:
    build:
      context: .
      args:
        - ECS_HELPER_VERSION=-v 0.0.41
    environment: *toolbox-environment
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - .aws:/root/.aws
